ul.laptop-list
  each laptop in laptops
    li
      a(
        href=`/laptops/${laptop.id}`,
        hx-get=`/laptops/${laptop.id}`,
        hx-target='#content'
        hx-push-url='true',
      )= laptop.name

div.actions
  button.btn.btn-outline-primary(
    hx-get='/laptops/new',
    hx-target='#content',
    hx-push-url='true'
  ) Add New Laptop